# Visual Studio
.vs/
ipch/
*.VC.opendb
*.VC.VC.opendb
*.VC.db
*.suo
*.sdf
*.opensdf
*.user
*.ncb
*.aps
*.ilk
*.pdb
iHR320_h.h
iHR320_i.c
*.idb
*.obj
*.exe
*.log
Debug/
Release/
__pycache__/
__pycache__/*
*.pyc
workDir.txt